.song-list {
    font-size: calc(10px + 2vmin);
    font-family: inkpen2;
    font-weight: 100;
    width: 50vw;
    overflow-x: auto;
    overflow-y: auto;
    height: calc(100% - 30px);

    background-color: lightslategrey;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.key-header {
    font-family: inkpen2;
    font-weight: 100;
    display: flex;
}

@font-face {
    font-family: inkpen2;
    src: url(inkpen2-script-regular.ttf);
  }
  