.App {
  text-align: center;
}

.app-page {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#app-header {
  animation-name: slide;
  animation-duration: 0.7s;
}

#site-description {
  font-size: calc(10px + 1.2vmin);
  width: 50vw;
  text-align: center;

  animation-name: slide;
  animation-duration: 0.85s;
  margin-top: 0;
}

@keyframes slide {
  from {
    opacity: 0%; margin-left: 40%;
  }
  to {
    opacity: 100%; margin-left: 0%;
  }
}
