.song-list {
    font-size: calc(10px + 1vmin);
    width: 50vw;
    overflow-x: auto;
    overflow-y: auto;
    height: calc(100% - 30px);

    background-color: lightslategrey;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.key-header {
    display: flex;
}